body{
    background-color: #708170;
}

.form{
    background-color: yellowgreen;
    padding: 12px;
    border-radius: 10px;
}

#trainee_list{
    background-color: white;
    color: black;

}

tbody{
    color: white;
    background-color: greenyellow;
}